<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @apartament.number %>
</p>

<p>
  <strong>Ocupation status:</strong>
  <%= @apartament.ocupation_status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @apartament.notes %>
</p>

<%= link_to 'Edit', edit_apartament_path(@apartament) %> |
<%= link_to 'Back', apartaments_path %>
