<%= form_with(model: ga, local: true) do |form| %>
  <% if ga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ga.errors.count, "error") %> prohibited this ga from being saved:</h2>

      <ul>
      <% ga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gas_clock %>
    <%= form.text_field :gas_clock %>
  </div>

  <div class="field">
    <%= form.label :reading_date %>
    <%= form.date_select :reading_date %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
