<%= form_with(model: account_service, local: true) do |form| %>
  <% if account_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_service.errors.count, "error") %> prohibited this account_service from being saved:</h2>

      <ul>
      <% account_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :collect_type %>
    <%= form.text_field :collect_type %>
  </div>

  <div class="field">
    <%= form.label :pay_date %>
    <%= form.number_field :pay_date %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
