<p id="notice"><%= notice %></p>

<h1>Account Services</h1>

<table>
  <thead>
    <tr>
      <th>Collect type</th>
      <th>Pay date</th>
      <th>Value</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_services.each do |account_service| %>
      <tr>
        <td><%= account_service.collect_type %></td>
        <td><%= account_service.pay_date %></td>
        <td><%= account_service.value %></td>
        <td><%= account_service.comments %></td>
        <td><%= link_to 'Show', account_service %></td>
        <td><%= link_to 'Edit', edit_account_service_path(account_service) %></td>
        <td><%= link_to 'Destroy', account_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Service', new_account_service_path %>
