<p id="notice"><%= notice %></p>

<p>
  <strong>Collect type:</strong>
  <%= @account_service.collect_type %>
</p>

<p>
  <strong>Pay date:</strong>
  <%= @account_service.pay_date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @account_service.value %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @account_service.comments %>
</p>

<%= link_to 'Edit', edit_account_service_path(@account_service) %> |
<%= link_to 'Back', account_services_path %>
