<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original_value %>
    <%= form.text_field :original_value %>
  </div>

  <div class="field">
    <%= form.label :open_value %>
    <%= form.text_field :open_value %>
  </div>

  <div class="field">
    <%= form.label :pay_date %>
    <%= form.number_field :pay_date %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="field">
    <%= form.label :account_type %>
    <%= form.text_field :account_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
